/* Image fix */
img {
    max-width: 100%;
    height: auto;
}

/* Slick slider styles */

.slick-slide {
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    margin: 1rem;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-list button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
